baseURL = "https://arcanecodex.dev/"
languageCode = 'en-us'
title = 'Arcane Codex'
theme = 'ArcaneCodex'
enableRobotsTXT = true

[taxonomies]
  category = "categories"
  tag = "tags"

[params]
  env = "production"
  defaultTheme = "dark" 
  ShowReadingTime = true
  ShowShareButtons = true
  disableThemeToggle = true
  disableFingerprinting = true
[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML"]
  section = ["HTML"]
  taxonomy = ["HTML"]
  term = ["HTML"]

[menu]
  [[menu.main]]
    identifier = "search"
    name = ""
    post = '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> '
    url = "/search/"
    weight = 5
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10
  [[menu.main]]
    identifier = "categories"
    name = "Categories"
    url = "/categories/"
    weight = 20
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 30
