@font-face {
    font-family: 'ProFontIIxNerdFontMono';
    src: url('/fonts/ProFontIIxNerdFontMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eagle Lake';
    src: url('/fonts/EagleLake-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 80px;
    --footer-height: 60px;
    --radius: 8px;
    --font-family: 'ProFontIIxNerdFontMono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-font-family: 'Eagle Lake', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-font-weight: 700;
    --emph-font-size: 1.1em;
    --dark-gray: #282828;
    --red: #cc241d;
    --light-red: #fb4934;
    --theme: var(--dark-gray);
    --entry: rgb(255, 255, 255);
    --primary: var(--red);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --dark-gray: #282828;
    --red: #cc241d;
    --light-red: #fb4934;
    --theme: var(--dark-gray);
    --entry: rgb(46, 46, 51);
    --primary: var(--red);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --font-family: 'ProFontIIxNerdFontMono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-font-family: 'Eagle Lake', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-font-weight: 700;
    --emph-font-size: 1.1em;
    --theme: var(--dark-gray);
    --entry: rgb(46, 46, 51);
    --primary: var(--red);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}

/* Header title styling */
.logo-content {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
	margin: 0.5rem 0 0;
}

.site-title {
    font-size: inherit;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.site-tagline {
    font-family: var(--font-family);
    color: var(--secondary);
    font-size: 0.5em;
    line-height: 1;
}

.eagle-font {
    font-family: 'Eagle Lake', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--emph-font-size);
    color: var(--primary);
}

.arcane {
    font-family: 'Eagle Lake', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
}

.codex {
    font-family: var(--font-family);
    color: var(--primary);
    transform: scaleX(1.35);
    display: inline-block;
	margin-left: 12px;
}

