.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--gap) 0 calc(var(--gap) * 1.25) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 48px;
    line-height: 1.3;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--primary);
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap) / 2;
    padding: calc(var(--gap) / 3);
    background: var(--theme);
    border-radius: var(--radius);
    transition: transform 0.1s;
}

.post-entry:active {
    transform: scale(0.96);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 36px;
    line-height: 1.3;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--primary);
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    pointer-events: auto;
    z-index: 1;
}

.hero-post .first-entry .entry-link {
    bottom: 40px;
}

.filtered-posts .post-entry .entry-link {
    bottom: 45px;
}

.entry-hint {
    color: var(--secondary);
}

.entry-hint-parent {
    display: flex;
    justify-content: space-between;
}

.entry-cover {
    font-size: 14px;
    margin-bottom: var(--gap);
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
}

.entry-cover a {
    box-shadow: 0 1px 0 var(--primary);
}
