#searchbox input {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
}

#searchbox input:focus {
    border-color: var(--secondary);
}

#searchResults article {
    border-radius: var(--radius);
    padding: 10px;
    margin: 10px 0;
    position: relative;
    font-weight: 500;
    background: var(--theme);
    border: none;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

#searchResults article:hover {
    transform: translateY(-5px);
}

/* Smaller post entry titles on search page */
#searchResults .entry-header h2 {
    font-size: 24px;
}

#searchResults {
    margin: 10px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults .entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40px;
    outline: none;
    z-index: 1;
}






